# Configuración general de la aplicación
QUARKUS_HTTP_PORT=8091
QUARKUS_PROFILE=dev

# Configuración de Keycloak
KEYCLOAK_URL=http://localhost:8083/
KEYCLOAK_CLIENT_ID=cli_billpay_app
KEYCLOAK_CLIENT_SECRET=YGMyRIRzM2qa4hYZFxVVqrSQzRWlrZuB
KEYCLOAK_REALM=billpay_app
KEYCLOAK_ADMIN_USER=kuroroluzbell
KEYCLOAK_ADMIN_PASSWORD=123456

# Token de autenticación para endpoints públicos
AUTH_CLIENT_TOKEN=YGMyRIRzM2qa4hYZFxVVqrSQzRWlrZuB

# Configuración de logs
QUARKUS_LOG_CONSOLE_LEVEL=INFO

# Para Docker (cambiar KEYCLOAK_URL a http://keycloak:8083/ y QUARKUS_HTTP_PORT a 8090)
# Para VPS (cambiar KEYCLOAK_URL a la IP/dominio del VPS)
# Para testing (cambiar QUARKUS_PROFILE a test)